name: Build

on:
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    name: Placeholder Build
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Placeholder
        run: echo "TODO: implement build script"
