name: Lint

on:
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  lint:
    name: Placeholder Lint
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Placeholder
        run: echo "TODO: implement lint script"
