name: Tests

on:
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  unit-tests:
    name: Placeholder Tests
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Placeholder
        run: echo "TODO: implement unit test script"
